#wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left_screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.day {
  font-size: 80px;
}

.list {
  font-size: 30px;
}
